

{% extends 'base.html' %}
{% load static%}
{% block content %}


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="./store.html" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Groceries List</h3>
</header><!-- sect-heading -->

	
<div class="row">
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/v-1.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Carrots</a>
				<div class="price mt-1">$50.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/v-2.jpg'%}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Potatos</a>
				<div class="price mt-1">$80.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/ch-1.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Chcolates</a>
				<div class="price mt-1">$156.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/bi-1.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Biscuit</a>
				<div class="price mt-1">$100.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/c-1.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Cake</a>
				<div class="price mt-1">$60.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/m-1.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Mangoes</a>
				<div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/k-1.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Chips</a>
				<div class="price mt-1">$50.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/a-1.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Apples</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->




<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->

</body>
</html>

{% endblock %}