{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Registration</title>
        <style>
            .success{
                color:red;
                font-family: Serif;
                font-size:20px;
            }
        </style>
    </head>
    <body style="background-color: #6FEC82; text-align: center">
        <div style="font-family:Serif; font-weight: bold; padding: 10px;">
            <h1>SignUp</h1>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="er">{{error}}</p>
                    {% endfor %}
                {% endif %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
                {% endfor %}
                <input type="submit" value="Submit">
        </form>
        {% if messages %}
            {% for message in messages %}
                <small {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}} </small>
            {% endfor %}
        {% endif %}
            <a href="{% url 'login' %}">Login</a>
        </div>
    </body>
</html>

{% endblock %}